<div class="loginpage">
  <form>
    <ul class="">
      <li class="input-wrap">
        <i class="icon-laugh icon-shouji ui-border-r"></i>
        <div class="input-box"><input type="text" class="input js-phone-num" placeholder="请输入手机号" /></div>
        <button class="btn-code" id="getCode">点击获取</button>
      </li>
      <li class="input-wrap">
        <i class="icon-laugh icon-anquan ui-border-r"></i>
        <div class="input-box"><input type="text" class="input js-code-num" placeholder="请输入验证码" /></div>
      </li>
    </ul>
    <a class="text-right inline-block" id="getCodeByvoice">接收不到短信？那就试试语音吧</a>
    <a class="btn-login" id="submit">登录</a>
  </form>
</div>
