<style>
    .relative {
        position: relative;
        width: 100%;
    }
    .absolute {
        position: absolute;
    }
</style>

<div class="notopbar">
<{foreach: data as index => value}>
    <{if:value.divType == 1}>
        <div class="swiper-container app-fontsize-zero index-banner-size" style="height:<{value.divHeight}>px;">
            <div class="swiper-wrapper">
                <{foreach:value.divContent as item}>
                    <div class="swiper-slide">
                        <a class="js-transform" data-schemes="<{item.schemes}>" data-public="<{item.public}>" data-type="page">
                            <img src="<{item.img}>">
                        </a>
                    </div>
                <{/foreach}>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    <{elseif:value.divType == 2}>
        <div class="relative ui-flex  ui-flex-align-center index-notification" style="height:<{value.divHeight}>px;">
            <i class="icon-laugh icon-notification index-notification-text"></i>
            <i class="index-notification-text"><{value.divTitle}></i>
        </div>
    <{elseif:value.divType == 3}>
        <div class="relative" style="height:<{value.divHeight}>px;">
            <{foreach:value.divContent as index => item}>
                <div class="absolute js-transform" data-schemes="<{item.schemes}>" data-public="<{item.public}>" style="left: <{item.x}>px;top: <{item.y}>px;height: <{item.height}>px;width: <{item.width}>px;
                    <{if: item.line}>
                    border-right: <{item.line}>px solid #e0e0e0;
                    border-bottom: <{item.line}>px solid #e0e0e0;
                    <{/if}>">
                    <{if: item.img != "line"}>
                        <img src="<{item.img}>" alt="" style="width:100%;height:100%;display: list-item;background: #FFFFFF;">
                    <{/if}>
                </div>
            <{/foreach}>
        </div>
    <{elseif:value.divType == 4}>
        <div class="bg-gray" style="height: <{$value.divHeight}>px"></div>
    <{/if}>
<{/foreach}>

</div>