<div class="location-page">
  <!-- 定位城市start -->
    <div class="location-top-bar text-center">
      <span>选择城市</span>
    </div>
    <div class="searchbox" id="searchbox">
      <div class="dmmui-searchbar-wrap ui-searchbar-wrap " id="search_city"> <!-- 点击搜索时加类focus显示输入框 -->
        <div class="ui-searchbar ui-border-radius">
          <i class="ui-icon-search"></i>
          <div class="ui-searchbar-text">查找城市</div>
          <div class="ui-searchbar-input"><input id="search_input" placeholder="查找城市" autocapitalize="off"></div>
          <i class="ui-icon-close pointer" id="search_clear"></i>
        </div>
      </div>
      <div class="search-result" id="search_result"></div>
    </div>

    <div class="block-title">
      <p class="title">定位当前城市</p>
      <p class="line-bottom ui-border-t"></p>
      <p class="mask"></p>
    </div>
    <div class="location-city clearfix">
      <div id="current">
        <!-- <div class=" city-item">
            <a href="javascript:;" ><i class="icon-laugh icon-location reload-icon"></i><span>广州市</span></a>
        </div>-->
      </div>
      <div class=" city-item hide"  id="refresh">
          <a href="javascript:;" > <i class="icon-laugh icon-reload reload-icon"></i></a>
      </div>
      <div class=" city-item" id="positioning">
          <a href="javascript:;" ><span>定位中...</span></a>
      </div>
      <div class=" city-item hide" id="positionfail">
          <a href="javascript:;" > <i class="icon-laugh icon-reload reload-icon"></i>定位失败</a>
      </div>
    </div>

    <section class="city-pannel " >
      <div class="block-title">
        <p class="title">热门城市</p>
        <p class="line-bottom ui-border-t"></p>
        <p class="mask"></p>
      </div>
      <div class="cities clearfix" id="hotCities">
      </div>
    </section>
    <section class="alphabet-list-wrap" id="cities">
    </section>
    <section class="alphabet-wrap text-center active-bg">
      <p class="title">热门城市</p>
      <ul class="alphabet-list" id="rightnav">

      </ul>
    </section>
  <!-- 定位城市end -->
</div>

<!-- 搜索结果模板 -->
<script id="tm_result" type='text/template'>
  <{foreach: data as index => value}>
    <{foreach: value as key => val}>
      <{if: val.length > 0}>
        <p class="alphabet-name" id="jump<{key}>"><{key.toUpperCase()}></p>
        <ul class="alphabet-city-list" >
          <{foreach: val as k => v}>
            <li class="ui-border-b alphabet-city-item active-bg">
              <a href="#params/school&<{v.objectId}>&<{v.name}>"><{v.name}></a>
            </li>
          <{/foreach}>
        </ul>
      <{/if}>
    <{/foreach}>
  <{/foreach}>
</script>
<!-- 城市列表模板 -->
<script id="tm_citylist" type='text/template'>
    <{foreach: data as index => val}>
        <p class="alphabet-name" id="jump<{val.char}>"><{val.char.toUpperCase()}></p>
        <ul class="alphabet-city-list" >
          <{foreach: val.data as k => v}>
            <li class="ui-border-b alphabet-city-item active-bg">
              <a href="#params/school&<{v.objectId}>&<{v.name}>"><{v.name}></a>
            </li>
          <{/foreach}>
        </ul>
    <{/foreach}>
</script>
<!-- 索引部分模板 -->
<script id="tm_rightnav" type="text/template">
    <{foreach: data as index => val}>
        <li class="alphabet-item pointer" data-id="<{val.char}>"><{val.char.toUpperCase()}></li>
    <{/foreach}>
</script>
<!-- 定位当前城市模板 -->
<script id="tm_current" type="text/template">
  <div class=" city-item">
    <a class="active-bg" href="#params/school&<{objectId}>&<{name}>"><i class="icon-laugh icon-location reload-icon"></i><span><{name}></a>
  </div>
</script>
<!-- 热门城市模板 -->
<script id="tm_hotcities" type="text/template">
  <{foreach: data as index => val}>
  <div class=" city-item">
    <a class="active-bg" href="#params/school&<{val.objectId}>&<{val.name}>"><{val.name}></a>
  </div>
  <{/foreach}>
</script>
<!-- 搜索结果模板 -->
<script id="tm_searchresult" type='text/template'>
    <{foreach: data as index => val}>
        <p class="alphabet-name"><{val.char.toUpperCase()}></p>
        <ul class="alphabet-city-list" >
          <{foreach: val.data as k => v}>
            <li class="ui-border-b alphabet-city-item active-bg">
              <a href="#params/school&<{v.objectId}>&<{v.name}>"><{v.name}></a>
            </li>
          <{/foreach}>
        </ul>
    <{/foreach}>
</script>
    
               
    
    
    
