<div class="location-page">
  <!-- 定位学校start -->
  <div class="">
    <div class="location-top-bar text-center">
      <span>选择学校</span>
    </div>
    <div class="searchbox" id="searchbox">
      <div class="dmmui-searchbar-wrap ui-searchbar-wrap" id="search_school"> <!-- 点击搜索时加类focus显示输入框 -->
        <div class="ui-searchbar ui-border-radius">
          <i class="ui-icon-search"></i>
          <div class="ui-searchbar-text">查找学校</div>
          <div class="ui-searchbar-input"><input id="search_input" placeholder="查找学校" autocapitalize="off"></div>
          <i class="ui-icon-close pointer" id="search_clear"></i>
        </div>
      </div>
      <div class="search-result" id="search_result"></div>
    </div>

    <section class="alphabet-list-wrap">
      <p class="alphabet-name p-l-20">当前定位学校</p>
      <ul class="alphabet-city-list">
        <li class=" alphabet-city-item clearfix overflow-h">
          <div class=" city-item">
              <a href="javascript:;" class="hide active-bg" id="currentSchool"></a>
          </div>
          <div class=" city-item school-location" id="schoolPositining">
              <a href="javascript:;" > <i class="icon-laugh icon-loadding loadding-icon"></i>学校定位中</a>
          </div>
        </li>
      </ul>

    </section>
    <section class="alphabet-list-wrap" id="schools">
    </section>
  </div>
  <!-- 定位学校end -->
</div>
<!-- 学校列表模板 -->
<script id="tm_schoollist" type="text/template">
  <{foreach: data as key => value}>
    <p class="alphabet-name p-l-20"><{key}></p>
    <ul class="alphabet-city-list js_schoolul">
      <{foreach: value as index => school}>
        <li class="ui-border-b alphabet-city-item active-bg">
          <a href="javascript:;" data-id="<{school.objectId}>" data-shopid="<{school.shop.objectId}>"><{school.name}></a>
        </li>
      <{/foreach}>
    </ul>
  <{/foreach}>
</script>
<!-- 当前学校模板 -->
<script id="tm_currentschool" type="text/template">
  <i class="icon-laugh icon-reload reload-icon"></i><{name}>
</script>
<!-- 搜索结果模板 -->
<script id="tm_result" type="text/template">
  <{foreach: data as key => value}>
    <p class="alphabet-name p-l-20"><{key}></p>
    <ul class="alphabet-city-list js_schoolul">
      <{foreach: value as index => val}>
         <li class="ui-border-b alphabet-city-item active-bg">
            <a href="javascript:;" data-id="<{val.objectId}>"><{val.name}></a>
         </li>
      <{/foreach}>
    </ul>
  <{/foreach}>
</script>
  
