@charset "utf-8";
//-------------------------------- 
// @authors: bimgle
// @desc: 大脉app基础样式
//--------------------------------

@import 

  "setting",  // 配置
  "../public/sass_libs/dmui/function", // dmui库,包含setting、mixin
  "../public/sass_libs/dmui/reset",      // 重置样式
  "../public/sass_libs/frozenui/frozen",      // frozen样式
  "../public/sass_libs/dmui/dmm_moudle"; // 加载许多模块样式


$sidegap: rem($sidegap);  // 页面两边空白间隙
$mt: size(26);              // 各部分上下间隙

html {font-size: 62.5%;height: 100%; }
// 默认页面上部有headerbar，下部有footbar，若没有需在body上添加noheadbar、nofootbar调整body内边距
body {position: relative;margin: auto;max-width: 640px; color:$g-color; font-size: rem(28);overflow-x: hidden; height: 100%; -webkit-user-select: initial; user-select: initial;}  
// 当有提交订单条时wraper上加hassurebar调整内边距
.wraper{
  height: 100%;  
  >div{
    padding: size(90) 0 size(110); 
    &.notopbar{
      padding-top: 0;      
    }
    &.nobottombar{
      padding-bottom: 0; 
      .surebar{
        bottom: 0;
      }     
    } 
    &.hassurebar{
      padding-bottom: 9rem;
    }    
  }
}

// html,body {height: 100%;}
* {@include bsz(border-box);-webkit-tap-highlight-color:rgba(0,0,0,0);}
a,a:link,a:visited,a:hover,a:active {color:$g-color;text-decoration: none;}
a {font-size: inherit;}
input,
textarea {
  font-size: rem(24);color:inherit;
  &:focus {
    color:#000;
  }
}
input[type="checkbox"] {vertical-align: 1px;}
p,div {word-wrap: break-word;}
li {list-style: none;}

.fl {float: left;}
.fr {float: right;}
.hide {display: none;}
a.tdu {text-decoration: underline;}
.inline-block {display: inline-block;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {@extend %justify;overflow: hidden;}
.vam {vertical-align: middle;}

.blue,
a.blue {color: $blue;}
.red,
a.red {color: $shop-red;}

.btn {
  display: inline-block;text-align: center;border: 0;
  &-bdr {border-radius: 2px;}
  &-block {display: block;width: 100%;}
  &-hascolor {
    background:$theme;color:#fff;
    &:hover {background:darken($theme, 5%);}
  }
  &-disable {
    background: #BEBEBE !important;
  }
  &-defalut {
    display: inline-block;padding: 3px 5px; border: 1px solid $gray;vertical-align: middle;color: $g-color;
  }
}

// 设置15px的间隙
.app-gap-small {height: size(15);}

// 设置font-size为0
.app-fontsize-zero {font-size: 0%;}

// 设置背景颜色
.bg-gray {
  background-color: #EFEFEF; }
.bg-white {
  background-color: #FFFFFF; }
.bg-lightgray {
  background-color: #EEF3FA; }

// 全局背景色
.g-body-bgc {
  background: $g-bgcolor;
}

// 弹窗
.app-pop {
  position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 10; text-align: center;
  aside{
    display: inline-block; background:rgba(#000, .5); padding: 1rem; border-radius: 1rem; color: #fff; position: relative;
    animation: tipfade 1.5s forwards; 
  }
  .mask {
    position: absolute;left: 0;top: 0;width: 100%;height: 100%;background:rgba(#000, .5);
  }
}

@-webkit-keyframes tipfade {
  from { opacity: 1; }
  to { opacity: 0; z-index: -10;}
}

@keyframes tipfade {
  from { opacity: 1; }
  to { opacity: 0; z-index: -10;}
}

// 固定位置操作按钮
.operate-fixed-lb,
.operate-fixed-rb {
  position: fixed;bottom: $sidegap;z-index: 5;
  &,.btn {color:#fff;}
}
.operate-fixed-lb {
  left: $sidegap;
}
.operate-fixed-rb {
  right: $sidegap;
}

.rotate-90 {
  @include rotate(90deg);
}
.rotate-180 {
  @include rotate(180deg);
}
.rotate-270 {
  @include rotate(270deg);
}

// 加载更多
.loadmore {
  @include hl(20px);color: $g-txt-gray; text-align: center;
}

// 常用样式
.clearfix {
  @include clearfix;
}  
.clear-both{
  clear: both;
}
.pointer{
  cursor: pointer;
}
// 较小字体
.small{
  font-size: 80%;
}
// 较大字体
.big{
  font-size: 120%;
}
// 上下部分间隙
.mt26{
  margin-top: $mt;
}
// 常用颜色
.c-orange{
  color: $shop-orange;
}
.c-pink{
  color: $shop-pink;
}
.c-gray{
  color: #aaa;
}
// 角标
.bdage{
  background-color: #ff0000;
  border-radius: 50%;
  color: #fff;
  line-height: 1;   
  padding: 0.3rem 0.4rem;
  font-size: 1rem !important;
  display: inline-block;  
}

// 常用按钮
.mybtn{    
  height: 3.7rem;
  color: #fff;
  font-size: 1.4rem;
  background-color: #ff7026;
  border-radius: 5px;
  display: inline-block;
  padding:0 1.5rem;  
  box-shadow: 0px 1px 1px #aaa;
}
.btn-gray{
  background-color: #e3e3e3;
  color: #686868;
}
.btn-lightyellow{
  background-color: #f8f4d9;
  color: #b39164;
}
.btn-red{
  background-color: red;
}
.btn-white{
  background-color: #fff;
  border: 1px solid #ccc;
  color: #666;
}
a.mybtn{color: #fff;}
a.btn-gray{color: #686868;}
a.btn-lightyellow{color: #b39164;}

// 按压时底色变化
.active-bg{
  &:active{
    background-color: $ll-active-bg;
  }
}

//顶部导航栏
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: size(90);
  background-color: #ff8b27;
  line-height: size(90);
  z-index: 90;
  color: #fff;  
  text-align: center;
  a{
    color: #fff;
  }
  .icon-laugh{
    font-size: 2.5rem;
    vertical-align: middle;
  }
  .back {
    position: absolute;
    left: size(20);
    top: 0;
    bottom: 0;    
    cursor: pointer;
  }
  .title {    
    font-size: rem(36);   
  }
  .top-right {
    position: absolute;
    right: size(20);
    top: 0; 
    bottom: 0;      
    cursor: pointer;    
  }
}

// 底部导航条
.bottombar {
  position: fixed;left: 0;right: 0;bottom: 0;z-index: 90;
  background-color: $g-bgcolor;
  padding:0.5rem 0;
  height: 4.5rem;
  border-top: 1px solid $g-bdcolor;
  a{    
    display: block;
    &.on{
      color: #ff4900;
    } 
    &:active{
      color: #ff4900;
    }   
  }
  .icon-laugh{
    font-size: 2rem;
    line-height: 2.4rem;      
    position: relative;    
  }
  .bottomtitle{
    font-size: 1rem;
    line-height: 1.1rem;
  }  
  li{
    position: relative;
    &:before{
      content: '签到';
      width: 1.1rem;
      text-align: center;
      font-size: 0.8rem;
      line-height: 1;
      position: absolute;
      background-color: #ff0000;
      border-radius: 0.3rem;
      color: #fff;
      line-height: 1; 
      z-index: 90;      
      top: 0;
      right: 50%;
      margin-right: 1.5rem;
      padding: 0.2rem 0rem;
      display: none;
    }
    &:after{
      content: attr(data-msg);
      @extend .bdage;
      position: absolute;
      top: 0rem;
      left: 50%;
      margin-left: 0.5rem;
      display: none;
    }    
    &.msg{            
      &:after{
        display: block;
      }      
    }
    &.qiandao{
      &:before{
        display: block;
      } 
    }
  }
  .bottomcart{
    .icon-laugh{
      position: relative;
      &.on{
        animation: cartfill 0.5s;
      }
    }
  } 
}

@-webkit-keyframes cartfill {
  0% { top: 0rem; }
  50% {top: 1rem;}
  100% {top: 0rem;}
}
@keyframes cartfill {
  0% { top: 0rem; }
  50% {top: 1rem;}
  100% {top: 0rem;}
}

// 下部提交订单条
.surebar{
  background-color: rgba(0, 0, 0, .7);
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 4.5rem;
  left: 0;
  right: 0;  
  z-index: 90;
  .price{
    font-size: 2rem;
    color: #ff5500;    
  }
  .total{
    font-size: 1.1rem;
    color: #aaa;
    border-left: 1px solid #aaa;
    margin-left: 0.7rem;
    padding-left: 0.7rem;
  }  
}

// checkbox底色
.ui-checkbox{
  input:checked:before{
    color: $ll-check-orange;
  } 
}

// 普通的旋转特性
.animate-circle {
  margin-right: 0.3rem;
  animation: spin .8s linear infinite;
  font-size: 3.5rem;
}


