@charset "utf-8";
//-------------------------------- 
// 补充frozenUI样式
// -------------------------------

// 数字角标
.ui-badge-wrap {
  position: relative;
  .ui-badge-cornernum {
    position: absolute;top: size(-10);right: size(-10);padding:1px 5px;background:$shop-red;color:#fff;border-radius: 4px;line-height: 1;font-size: size(20);
  }
}

//-------------------------------- 
// 大脉app UI库
//--------------------------------

.dmmui {
  &-txt-default {
    color: $black;
  }
  &-txt-info {
    color: #767676;
  }
  &-border-r-s {
    border-radius: 4px;
  }
  &-whitespace {
    padding-left: $sidegap;padding-right: $sidegap;
  }

  &-panel {
    &-hd {
      padding: dp(10) 0; font-size: rem(30);color: #000;line-height: 1;
      .title {
        padding-left: dp(30);border-left: 1px solid $theme;
      }
    }
  }

  // 标签
  &-label-list {
    font-size: 0;
    .dmmui-label {
      display: inline-block;margin: 0 size(4);padding: 2px size(10); font-size: size(24);color:#fff;background: $shop-red;line-height: 1.1;vertical-align: middle;
    }
  }


  &-searchbar-wrap {
    background: $theme;
  }
}

.dmm-radio.dm-icon {
  &:checked:after,
  &.checked:after {
    content:"\e60d";
  }
}