@charset "utf-8";
//--------------------------------
// @authors: xlong
// @desc: laugh loudly main page
// @time: 2015-12-28
//--------------------------------

body {
  font-size: size(30);
}
.index-block-13 {
  width: 40.625%;
  height: auto;
}
.index-block-19 {
  width: 59.375%;
  height: auto;
}

// 位置信息设置
.index-position-select {
  height: size(90);
  line-height: size(90);
  width: 100%;
  background: $ll-orange-postion;
}
.index-bar {
  height: size(90);
  line-height: size(90);
}
.index-bar-x {
  color: #ffffff;
  font-size: rem(40);
}
.index-postion-text {
  @extend .index-bar-x;
  margin-left: size(10);
}

.index-search {
  @extend .index-bar-x;
  right: rem(15);
  position: absolute;
}

// banner
.index-banner-size {
  height: size(240);
  text-align: center;
}

// 通知栏
.index-notification {
  width: 100%;
  background: $ll-blue-tip;
}

.index-notification-text {
  margin-left: size(10);
  color: $ll-blue-tip-text;
}






