@charset "utf-8";
//--------------------------------
// @authors: xlong
// @desc: laugh loudly mobile shop page
// @time: 2015-12-28
//--------------------------------

body {
  font-size: size(30);
}

// 导航bar设置
.ms-bar {
  height: size(310);
  width: 100%;
}
.ms-bar-back {
  height: size(200);
}
.ms-back {
  margin-left: size(20);
  line-height: size(90);
  font-size:rem(58);
}
.ms-bar-gray {
  height: size(90);
  background: $ll-ligthGray;
}
.vertify {
  position: relative;
  top: size(70);
  left: size(150);
}
.vertifiy-img {
  position: relative;
  top: size(5);
  width: 24px;
  height: 16px;
}
.ms-shop-bar {
  position:relative;
}
.ms-shop-img {
  @extend .ms-shop-bar;
  left: size(20);
  top: size(-40);
  width: size(120);
  height: size(120);
}
.ms-shop-operation {
  position: absolute;
  top: size(10);
  left:size(150);
  font-size: size(20);
}
.ms-shop-tuan {
  position: absolute;
  left: size(150);
  top: size(40);
}
.ms-shop-detail {
  position: absolute;
  top: size(30);
  right:size(60);
  font-size: size(20);
}

// 导航选择栏
.ms-select-type {
  height: size(60);
  line-height: size(60);
}
.ms-select-div {
  text-align: center;
  color: black;
}
.ms-select-title {
  padding-bottom: 6px;
  border-bottom: 3px solid $ll-orange-ms;
  color: $ll-orange-ms;
}

// 商品列表
.ms-goods-item {
  position: relative;
  padding:size(18) size(18) size(0) size(18);
}
.ms-goods-img {
  position:absolute;
  height:size(150);
  width:size(150);
  left:size(30);
  overflow: hidden;
}
.ms-goods-info {
  padding-left:size(180);
}
.ms-goods-title {
  height: size(70);
  line-height:size(34);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.ms-goods-price {
  margin-top:size(10);
  font-weight:bold;
  color: $ll-orange-ms;
}
.ms-goods-price-old {
  @extend .ms-goods-price;
  color: #cccccc;
}
.buy-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 4.5rem;
  height: 3rem;
  border-radius: 0.4rem;
  border: 1px solid $ll-orange-ms;
  overflow: hidden;
}




