@charset "utf-8";
//--------------------------------
// @authors: bimgle
// @desc: 大脉超市页面样式
//--------------------------------

.orderh{
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 .8rem;
  font-size: 1.6rem;
  color: $black;
}
.orderul{
  padding: 0 .8rem;
  li{
    position: relative;
    &.cant{
      opacity: .5;
    }
    .content{
      padding: 0.8rem 4rem 0.8rem 0 ;
      h4{
        color: $black;
        font-size: size(28);
      }
    }
    label{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -11px;
      input:checked:before{
        color: #fc561f;
      }      
    }    
  }  
}

.orderbox{
  border-bottom: 1px solid $g-bdcolor;
}
.orderinfo{
  padding: .8rem .8rem .8rem 0;
  margin-left: .8rem;
  position: relative; 
  border-top: 1px solid $g-bdcolor; 
  margin-top: -1px;
  em{
    color: $black;
  }
  .i_text{
    width: 100%;
    border: 0 none;
    font-size: 100%;
  }
  .s-time{
    position: absolute;
    top: 0rem;
    left:0;
    border: 0; 
    opacity: 0; 
    width: 100%;
    &.show{
      opacity: 1;
    }   
  }
  .ordercontent{
    padding-right: 4rem;  
    input[type="text"]{
      width: 100%;
    }      
    h4{
      font-size: 1.4rem;
      color: $black;
    }
    .orderimg{ 
      width: 21rem;
      height: 4.5rem;
      overflow: hidden;     
      img{
        height: 4.5rem; 
      }       
    }
    .ordermsg{
      line-height: 4.5rem;
    }
  }
  .ordericonr{
    position: absolute;
    right: 1.5rem;
    top: 50%;
    font-size: 1.5em;
    line-height: 1;
    margin-top: -0.8rem;
  }
}

.payh{
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 .8rem;  
  color: $black;
  border-left: .5rem solid $shop-orange;
  font-size: 1.6rem;
}
.payul{  
  li{
    position: relative;
    &.cant{
      opacity: .5;
    }
    &:nth-child(1){
      i{
        color: #7ed321;
      }      
    }
    &:nth-child(2){
      i{
        color: #79baf1;
      }      
    }
    &:nth-child(3){
      i{
        color: #ffa463;
      }      
    }
    .content{
      padding: 0.8rem 4rem 0.8rem 0 ;
      i{
        font-size: 2rem;
        padding-right: 1rem;        
      }      
    }
    label{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -11px;
      input:checked:before{
        color: #fc561f;
      }      
    }    
  }  
}

.paynum{
  padding: 1.8rem .8rem;
  em{
    color: $black;    
    font-size: 2rem;
  }
}
