@charset "utf-8";


//定位页start
$bg-eee:#EEEEEE;
$tint-color:#bbbbbb;
$theme-1:#FF8B27;
.location-page {
  color:#5D5D5D;
  font-size:size(30);
  @at-root .dmmui-searchbar-wrap {
    background: $bg-eee;
  }
  .location-top-bar {
    background:$theme-1; 
    position:fixed;
    top:0;
    left:0;
    height:size(90);
    width:100%;
    color:#fff;
    line-height:size(90);
    z-index:5;
    .title {
      font-size:rem(40);
    }
  }
  .location-top {
    position:relative;
    height:100%;

  }
  .location-back {
    position:absolute;
    top:0;
    left:0;
    width:size(140);
    height:100%;
    color:#fff;
     -webkit-box-align: center;
    display: -webkit-box;
    color:#fff6ee;
  }
  .back-word {
    vertical-align: super;
    margin-left:size(-12);
  }
  .back-icon {
    font-size:rem(60);
    color:#ffc593;
    // vertical-align: text-bottom;
  }
  .location-lose {
     position:absolute;
    top:0;
    right:0;
    width:size(140);
    height:100%;
    color:#fff6ee;
  }
  .searchbox{    
    &.focus{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 91;
      background-color: rgba(0, 0, 0, .5);
      .ui-searchbar-wrap{
        height: 4.5rem;
      }
    }
    .search-result{
      background-color: #fff;
    }
  }
  .block-title {
    -webkit-box-align: center;
    display: -webkit-box;
    background:$white;
    padding:size(20);
    overflow:hidden;
    position:relative;
    .title {
      padding-right:size(20);
      color:$tint-color;
    }
    .mask {
      position:absolute;
      width:size(20);
      top:0;
      bottom:0;
      right:0;
      z-index:1;
      background:$white;
    }
  }
  .line-bottom {
    width:100%;
    height:1px;

  }
  .location-city {
    // height:size(50);
    overflow:hidden;
    background: $white;
  }
  .reload-icon {
    color:$theme-1;
    font-size:rem(38);
    margin-right:size(4);
  }
  .city-pannel {
    background: $white;
  }
  .cities {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      // padding: size(30) size(16);
      padding-bottom:size(30);
      overflow-y: auto;
      min-height: size(104);
      .checked {
        background: $theme;
        color:#fff;
      }
  }
  .city-item {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: size(80);
      line-height: size(80);
      float: left;
      padding: 0 size(20);
      text-align:center;
      a {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          display: inline-block;          
          border-radius:size(8);
          text-align: center;
          height: size(64);
          line-height: size(64);
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          background: #f2f2f2;
          vertical-align:middle;
          border:1px solid #c3c3c3;
          padding: 0 size(30);
      }      
  } 
  
  .alphabet-list-wrap {
    // padding:size(20);
    background: $white;
  }
  .alphabet-name {
    background: $bg-eee;
    // padding-left:size(10);
    padding:size(8) size(10);
  }
  .alphabet-city-list {
    
  }
  .alphabet-city-item {
    height:100%;
    padding:size(20);
    a{
      display: block;
    }
  }
  .alphabet-wrap {
    position:fixed;
    width:size(50);
    top:size(200);
    bottom:0;
    right:size(15);
    z-index:3;
    font-size:rem(24);
    color:#a1b5c1;
    font-weight: bold;
    .title{
      position: absolute;
      top:0;
      left:0;
    }
  }
  .alphabet-list{
    height: 100%;
    padding-top: 4rem;
    @extend .ui-row-flex;
    @extend .ui-row-flex-ver;
  }
  .alphabet-item {
    @extend .ui-col;
    @extend .ui-row-flex;
    @extend .ui-flex-align-center;
    @extend .ui-flex-pack-center;    
  }
  .p-l-20 {
    padding-left:size(20);
  }
  .overflow-h {
    overflow:hidden;
  }
  .school-location {
    width:50%;
    text-align:left;
    a {
      text-align:left;
      border:none;
    }
    
  }
  .loadding-icon {
    margin-right:size(6);
    animation: spin .8s linear infinite;
  }
  @keyframes spin {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
   }
  }
  .search-wrap {
    padding:size(10);
    position:relative;
  }
  .search-input {
    // height:size(30);
    width:100%;
    border-radius:size(8);
    display:block;
    padding:size(10) size(30);
    color:#DADADA;
    border:1px solid #fff;
  }
  .search-icon {
    position:absolute;
    left:size(20);
    top:size(20);
  }
  //优惠券start
  .coupon-wrap {
    padding:size(10) size(20);
  }
  .coupon-info-wrap {
    width:100%;
    height:size(260);
    background:$white;
    border-top:2px solid #ffd500;
    // position:relative;
  }
  .pos-r {
    position:relative;
  }
  .left-top-tip {
    position:absolute;
    top:size(26);
    left:size(-40);
    width:size(170);
    height:size(40);
    line-height:size(40);
    
    color:#fff;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    font-size:rem(24);
  }
  .expire {
    background: #ff2742;
  }
  .coupon-used {
    background: #92d152;
  }
  .coupon-price {
    color:#ff7026;
    padding-top:size(50);
    font-size:rem(36);
    .price {
      margin-left:size(6);
      font-size:rem(70);
    }
  }
  .cash-coupon {
    color:#ff7026;      }
  .border-dot {
    border-right:size(6) dotted #eeeeee;
    width: size(200);
  }
  .coupon-title-wrap {
    padding:size(20);
    position:relative;
    .title {
      text-align:justify;
      border-bottom:1px solid #f7f7f7;
      padding-bottom:size(16);
      height:size(140);
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      .lightblue{
        color:#afc1ca;
      }
    }
  }
  .coupon-validity {
    font-size:rem(24);
    color:#aaa;
    padding-top:size(6);
  }
  
  //优惠券end
  //分类页start
  .search-icon-1 {
    font-size:rem(50);
  }
  .side-wrap {
    position:fixed;
    left: 0;
    top:size(90);
    bottom: 0;
    width: size(140);
    overflow:hidden;
    z-index: 1;
    border-right:1px solid #f2f5f7;
  }
  .classify-list {
    width: 100%;
    overflow-y:auto;
    height:100%;
    &::-webkit-scrollbar {
      width: 0;
    }
    .active {
      background:#fff;
      a {
        color:#ff7026;
        z-index:2;
        position:relative;
        border-top:1px solid #eef2f4;
        border-bottom:1px solid #eef2f4;
        border-left:4px solid #ff7026;
      }
    }
  }
  .classify-item {
    @include hl(size(90));    
    text-align:center;
    vertical-align:middle;
    a {
      font-size: size(24);
      display:block;      
    }

  }
  .goods-list-wrap {
    padding-left:size(140);
    background-color:#fff;
    .loadmore{
      height: 6rem;
      line-height: 6rem;
    }    
  }
  .goods-item {
    padding:size(30) size(30) size(18) size(30);
    position:relative;
    border-bottom:1px solid #DCDCDC;
    min-height:size(200);
    position:relative;
  }
  .img-wrap {
    position:absolute;
    height:size(150);
    width:size(150);
    left:size(30);
    bottom:size(18);
    display:inline-block;
    overflow: hidden;    
  }
  .goods-info {
    padding-left:size(180);
    -webkit-box-flex: 1;
  }
  .goods-title {
    height: size(65);
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    line-height:size(34);
    color: $black;
    font-size: size(28);
  }
  .price {
    margin-top:size(20);
    color:#f54735;
  }
  .o-price {
    color:#cccccc;
    // margin-top:size(-10);
     line-height:size(20);
  }
  .goodslist-btn{
    position:absolute;
    bottom:size(20);
    right:size(20);
    width:size(140);
    height:size(60);
    border-radius: size(8);
    font-size: size(28);
  }
  .buy-btn {
    @extend .goodslist-btn;
    border:1px solid #ff7228;    
    color:#ff7228;    
  }
  .rest-btn {  
    @extend .goodslist-btn;  
    border:1px solid #ccc;    
    color:#ccc;    
  }

  //分类页end
}

//优惠券详情页
.coupon-detail{
  .head{
    padding: $sidegap;
    .title{
      font-size: size(32);
    }
  }
  .rule{
    padding: $sidegap;    
  }
  .ul_rule{
    color: #999;
    li{      
      line-height: size(40);
      padding-left: size(25);
      position: relative;
      &:before{
        content: "●";
        font-size: size(6); 
        position: absolute;
        left: 0;    
      }
    }
  }
  .title{
    color: $black;
    font-size: size(30);
  }
}