@charset "utf-8";
//--------------------------------
// @authors: bimgle
// @desc: 大脉app登录注册
// @time: 2015-09-08
//--------------------------------

.icon {
  display: inline-block;
  // @include sprite("icon");
}

.reglogin {
  padding-top: size(70);font-size: rem(28);
  .form-list {
    li {padding:0 $sidegap;@include hl(dp(90));}
    .btn-block {
      @include hl(dp(80));font-size: rem(32);
    }
  }
  .input-wrap {
    position: relative;display:-webkit-box; margin-bottom: 1px; background:#fff;
    .label {
      display: block;width:dp(120);
    }
    .input-box {
      -webkit-box-flex: 1;
    }
    .input {
      display: inline-block;padding:0 5px;width: 100%;border: 0;font-size: rem(28);@include hl(dp(80));
    }
    .btn {
      position: absolute;top: 0;right: 0;height: 100%;width:dp(210);background:$theme;color:#fff;font-size: inherit;
    }
  }
}

.other-login {
  position: absolute;left: 0;right: 0;bottom: 0;width: 100%; height:dp(260);overflow: hidden;
  .login-hd {
    margin-bottom: dp(30); @include hl(dp(40));text-align: center;
    .title {
      position: relative;display: inline-block;
      &:before,
      &:after {
        content:"";position: absolute;top: 0;width: 1000px;height: 50%;border-bottom: 1px solid #B6B6B6;
      }
      &:before {right:120%;}
      &:after {left:120%;}
    }
  }
  .login-bd {
    display:-webkit-box;max-width: dp(720);margin: auto;
    .item {
      -webkit-box-flex:1;text-align: center;
    }
  }
}