<div class="_wraper">
  <div class="manage-addr-content">
      <!-- 选择收货地址 -->
      <div class="choose-addr">
        <{if: data.length > 0}>
         <{foreach: data as index => val}>
            <div class="choose-addr-container" data-id="<{val.objectId}>" data-name="<{val.name}>" data-phone="<{val.mobile}>" 
            data-area="<{val.dorm}>" data-building="<{val.building}>" data-address="<{val.address}>">
              <div class="choose-addr-checkbox js-chooseAddr">
                <input class="addr-checkbox icon-laugh " name="address" type="radio" <{val.using ? 'checked="checked"' : ''}>>
              </div>
              <div class="choose-addr-info js-chooseAddr"> 
                <div class="choose-addr-nameandphone clearfix">
                  <span class="choose-addr-name"><{val.name}>&nbsp&nbsp&nbsp</span>
                  <span class="choose-addr-phone"><{val.mobile}></span>
                </div>
                <p class="choose-addr-detail"><{val.result}></p>
              </div>
              <div class="choose-addr-edit js-addr-edit">
                <i class="icon-laugh icon-edit"></i>
              </div>
            </div>
         <{/foreach}>
        <{/if}>
      </div>
      <!-- 选择收货地址结束 -->
      <!-- 添加新地址开始 -->
      <div class="add-addr hide">
        <!-- 收货人 -->
        <div class="add-addr-container">
          <div class="add-addr-hint">收货人</div>
          <div class="add-addr-edit ui-border-b">
           <input id="js_name" class="add-addr-input" type="text" placeholder="填写收货人名字">
          </div>
        </div>
        <!-- 手机号码 -->
        <div class="add-addr-container">
          <div class="add-addr-hint">手机号码</div>
          <div class="add-addr-edit ui-border-b">
           <input id="js_phone" class="add-addr-input" type="tel" placeholder="填写联系方式" maxlength="11">
          </div>
        </div>
        <!-- 学校 -->
        <div class="add-addr-container">
          <div class="add-addr-hint">学校</div>
          <div class="add-addr-school ui-border-b">
           <span id="js_school">安徽中医药大学</span>
           <i class="icon-laugh icon-lock"></i>
          </div>
        </div>
        <!-- 宿舍区 -->
        <div class="add-addr-container">
          <div class="add-addr-hint">宿舍区</div>
          <div class="add-addr-edit ui-border-b clearfix">
            <!-- <input class="add-addr-input" type="text" readonly="readonly" placeholder="哪个宿舍区  哪栋楼">
            <i class="icon-laugh icon-forward icon-dorm"></i> -->
            <select id="js_area" class="add-addr-select">
              <option value="请选择">请选择</option>
              <option value="南区">南区</option>
              <option value="东区">东区</option>
              <option value="北区">北区</option>
            </select>
            <select id="js_building" class="add-addr-select ">
              <option value="请选择">请选择</option>
              <option value="1栋">1栋</option>
              <option value="2栋">2栋</option>
              <option value="3栋">3栋</option>
              <option value="4栋">4栋</option>
              <option value="5栋">5栋</option>
              <option value="6栋">6栋</option>
              <option value="7栋">7栋</option>
            </select>
            
          </div>
        </div>
        <!-- 详细地址 -->
        <div class="add-addr-container">
          <div class="add-addr-hint">详细地址</div>
          <div class="add-addr-edit ui-border-b">
           <input id="js_address" class="add-addr-input" type="text" placeholder="填写详细收货地址">
          </div>
        </div>
      </div>
      <!-- 添加新地址结束 -->
     
      <!-- 底部栏开始 -->
      <div class="bottom-bar js-add-addr">
        <button class="btn-add-addr js-add-addr">添加新地址</button>
      </div>
      <!-- 底部栏结束 --> 
       </div>
  </div>
<script data-main="js/app" src="js/require.js"></script>