
    <div class="coupon-detail">
      <div class="head bg-white">
        <div class="title"><{title}></div>
        <div class="date">有效期：<{start}> 至 <{end}></div>
      </div>
      <{if: extra}>
      <div class="rule bg-white mt26">
        <div class="title">使用规则：</div>        
        <ul class="ul_rule">
          <{foreach: extra.rules as index => rule}>
            <li><{rule}></li>          
          <{/foreach}>
        </ul>
      </div>
      <div class="rule bg-white mt26">
        <div class="title">使用说明：</div>
        <ul class="ul_rule">
          <{foreach: extra.usages as index => rule}>
            <li><{rule}></li>          
          <{/foreach}>
        </ul>
      </div>
      <{/if}>
    </div>
  
