
  <div class="user">    
    <a class="userbox bg-white ui-border-b ui-row-flex ui-flex-align-center active-bg" href="">      
      <div class="title ui-col">个人头像</div>  
      <div class="msg text-right ui-col">
        <img style="myphoto" src="http://placeholder.qiniudn.com/60x60" alt="" />
      </div>
      <i class="icon-laugh icon-forward"></i>
    </a>  
    <a class="userbox bg-white ui-border-b ui-row-flex ui-flex-align-center active-bg" href="">      
      <div class="title ui-col">手机账号</div>  
      <div class="msg text-right ui-col">13661446123</div>
      <i class="icon-laugh icon-forward"></i>
    </a>   
    <a class="userbox bg-white ui-border-b ui-row-flex ui-flex-align-center active-bg" href="#page/faq">      
      <div class="title ui-col">昵称</div>  
      <div class="msg text-right ui-col">白日梦游</div>
      <i class="icon-laugh icon-forward"></i>
    </a>
    <a class="userbox bg-white ui-border-b ui-row-flex ui-flex-align-center active-bg" href="">      
      <div class="title ui-col">性别</div>  
      <div class="msg text-right ui-col">男</div>
      <i class="icon-laugh icon-forward"></i>
    </a>  
    <a class="userbox bg-white ui-border-b ui-row-flex ui-flex-align-center mt26 active-bg" href="">      
      <div class="title ui-col">地址管理</div>  
      <div class="msg text-right ui-col"></div>
      <i class="icon-laugh icon-forward"></i>
    </a>   
    <a class="userbox bg-white ui-border-b ui-row-flex ui-flex-align-center active-bg" href="">      
      <div class="title ui-col">修改密码</div>  
      <div class="msg text-right ui-col"></div>
      <i class="icon-laugh icon-forward"></i>
    </a>
  </div> 
  