<{foreach: data as index => item}>
<li>
  <a class="clearfix js-goods-click" data-index="<{index}>">
    <div class="imgbox fl">
      <img src="<{item.images[0]}>" alt="" />
    </div>
    <div class="infobox">
      <div class="title fl ui-nowrap-multi ui-whitespace">
        <{item.name}>
      </div>
      <div class="info fl text-right">
        <p class="price">&yen; 72.0</p>
        <p>x <{item.count}></p>
      </div>      
    </div>
  </a>
</li>
<{/foreach}>

<!-- 加载提示框-->
<div class="ui-loading-block">
<div class="ui-loading-cnt" style="padding-top: 1.5rem;">
  <i class="icon-laugh icon-wait animate-circle" style="font-size: 4rem"></i>
  <p>疯狂加载中...</p>
</div>
</div>

<!-- 下拉加载更多 -->
<div class="goods-list-wrap ">
    <div class="loadmore"></div>
</div>
