
  <div class="user">
    <{if: data.qq}>    
    <a class="userbox bg-white ui-border-b ui-row-flex ui-flex-align-center active-bg mt26" href="http://wpa.qq.com/msgrd?V=1&amp;uin=3339146014&amp;exe=qq&amp;Site=qq&amp;menu=yes">      
      <div class="title ui-col">客服QQ</div>  
      <div class="msg text-right ui-col"><{data.qq}></div>
      <i class="icon-laugh icon-forward"></i>
    </a> 
    <{/if}>
    <{if: data.group}> 
    <a class="userbox bg-white ui-border-b ui-row-flex ui-flex-align-center active-bg mt26" href="javascript: void(0)">      
      <div class="title ui-col">本校QQ群</div>  
      <div class="msg text-right ui-col"><{data.group}></div>
      <i class="icon-laugh icon-forward"></i>
    </a> 
    <{/if}>       
    <a class="userbox bg-white ui-border-b ui-row-flex ui-flex-align-center active-bg mt26" href="#page/faq">      
      <div class="title ui-col">常见问题</div>  
      <div class="msg text-right ui-col"></div>
      <i class="icon-laugh icon-forward"></i>
    </a>
  </div> 
  