
    <!-- 顶部导航栏 -->
    <div class="topbar clearfix">
      <div class="back">
        <i class="icon-laugh icon-back"></i>
        <span>返回并保存</span>
      </div>
      <div class="title">选择收货地址</div>
      <div class="top-right">删除</div>
    </div>
    <!-- 顶部导航栏结束 -->
        
    <div class="address-management">
      <div class="manage-addr-content">
        <!-- 管理本校地址开始 -->
        <div class="manage-addr hide">
          <div class="manage-addr-container">
            <div class="manage-addr-info">
              <div class="manage-addr-nameandphone">
                <span class="manage-addr-name">陈文龙&nbsp&nbsp&nbsp</span>
                <span class="manage-addr-phone">13661334546</span>
              </div>
              <p class="manage-addr-detail">安徽中医药大学男生宿舍区5号楼打开手机号登记卡上的金卡是借口大世界看到哈就开始的喀什13123123123</p>
            </div>
            <div class="manage-addr-options">
              <div class="manage-addr-default">
                <input class="addr-checkbox icon-laugh" type="checkbox">
                <span class="default-addr">默认地址</span>
              </div>
              <div class="manage-addr-delete">
                <i class="icon-laugh icon-delete icon-addr-delete"></i>
                <span>删除</span>
              </div>
              <div class="manage-addr-edit">
                <i class="icon-laugh icon-edit icon-addr-edit"></i>
                <span>修改</span>
              </div>
            </div>
          </div>
          <div class="manage-addr-container">
            <div class="manage-addr-info">
              <div class="manage-addr-nameandphone">
                <span class="manage-addr-name">陈文龙&nbsp&nbsp&nbsp</span>
                <span class="manage-addr-phone">13661334546</span>
              </div>
              <p class="manage-addr-detail">安徽中医药大学男生宿舍区5号楼打开手机号登记卡上的金卡是借口大世界看到哈就开始的喀什13123123123</p>
            </div>
            <div class="manage-addr-options">
              <div class="manage-addr-default">
                <input class="addr-checkbox icon-laugh" type="checkbox">
                <span class="default-addr">默认地址</span>
              </div>
              <div class="manage-addr-delete">
                <i class="icon-laugh icon-delete icon-addr-delete"></i>
                <span>删除</span>
              </div>
              <div class="manage-addr-edit">
                <i class="icon-laugh icon-edit icon-addr-edit"></i>
                <span>修改</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 管理本校地址结束 -->

        <!-- 添加新地址开始 -->
        <div class="add-addr">
          <!-- 收货人 -->
          <div class="add-addr-container">
            <div class="add-addr-hint">收货人</div>
            <div class="add-addr-edit ui-border-b">
             <input class="add-addr-input" type="text" placeholder="填写收货人名字">
            </div>
          </div>
          <!-- 手机号码 -->
          <div class="add-addr-container">
            <div class="add-addr-hint">手机号码</div>
            <div class="add-addr-edit ui-border-b">
             <input class="add-addr-input" type="tel" placeholder="填写联系方式" maxlength="11">
            </div>
          </div>
          <!-- 学校 -->
          <div class="add-addr-container">
            <div class="add-addr-hint">学校</div>
            <div class="add-addr-school ui-border-b">
             <span>安徽中医药大学</span>
             <i class="icon-laugh icon-lock"></i>
            </div>
          </div>
          <!-- 宿舍区 -->
          <div class="add-addr-container">
            <div class="add-addr-hint">宿舍区</div>
            <div class="add-addr-edit ui-border-b clearfix">
              <!-- <input class="add-addr-input" type="text" readonly="readonly" placeholder="哪个宿舍区  哪栋楼">
              <i class="icon-laugh icon-forward icon-dorm"></i> -->
              <select class="add-addr-select">
                <option value="南区">南区</option>
                <option value="东区">东区</option>
                <option value="北区">北区</option>
              </select>
              <select class="add-addr-select">
                <option value="1">1栋</option>
                <option value="2">2栋</option>
                <option value="3">3栋</option>
                <option value="4">4栋</option>
                <option value="5">5栋</option>
                <option value="6">6栋</option>
                <option value="7">7栋</option>
              </select>
              
            </div>
          </div>
          <!-- 详细地址 -->
          <div class="add-addr-container">
            <div class="add-addr-hint">详细地址</div>
            <div class="add-addr-edit ui-border-b">
             <input class="add-addr-input" type="text" placeholder="填写详细收货地址">
            </div>
          </div>
        </div>
        <!-- 添加新地址结束 -->

        <!-- 选择收货地址 -->
        <div class="choose-addr hide">
          <div class="choose-addr-container clearfix">
            <div class="choose-addr-checkbox">
              <input class="addr-checkbox icon-laugh " type="checkbox">
            </div>
            <div class="choose-addr-info"> 
              <div class="choose-addr-nameandphone clearfix">
                <span class="choose-addr-name">陈文龙&nbsp&nbsp&nbsp</span>
                <span class="choose-addr-phone">13661334546</span>
              </div>
              <p class="choose-addr-detail">安徽中医药大学男生宿舍区5号楼打开手机号登记卡上的金卡是借口大世界看到哈就开始的喀什13123123123</p>
            </div>
            <div class="choose-addr-edit">
              <i class="icon-laugh icon-edit"></i>
            </div>
          </div>
          <div class="choose-addr-container clearfix">
            <div class="choose-addr-checkbox">
              <input class="addr-checkbox icon-laugh " type="checkbox">
            </div>
            <div class="choose-addr-info">
              <div class="choose-addr-nameandphone">
                <span class="choose-addr-name">陈文龙&nbsp&nbsp&nbsp</span>
                <span class="choose-addr-phone">13661334546</span>
              </div>
              <p class="choose-addr-detail">安徽中医药大学男生宿舍区5号楼打开手机号登记卡上的金卡是借口大世界看到哈就开始的喀什13123123123</p>
            </div>
            <div class="choose-addr-edit">
              <i class="icon-laugh icon-edit"></i>
            </div>
          </div>
          <div class="choose-addr-container clearfix">
            <div class="choose-addr-checkbox">
              <input class="addr-checkbox icon-laugh " type="checkbox">
            </div>
            <div class="choose-addr-info">
              <div class="choose-addr-nameandphone">
                <span class="choose-addr-name">陈文龙&nbsp&nbsp&nbsp</span>
                <span class="choose-addr-phone">13661334546</span>
              </div>
              <p class="choose-addr-detail">安徽中医药大学男生宿舍区5号楼打开手机号登记卡上的金卡是借口大世界看到哈就开始的喀什13123123123</p>
            </div>
            <div class="choose-addr-edit">
              <i class="icon-laugh icon-edit"></i>
            </div>
          </div>
        </div>
        <!-- 选择收货地址结束 -->
      </div>
      <!-- 底部栏开始 -->
      <div class="bottom-bar">
        <button class="btn-add-addr">添加新地址</button>
      </div>
      <!-- 底部栏结束 --> 
    </div>
  