

        <!-- 顶部导航栏 -->
        <div class="topbar">
            <div class="back">
                <i class="icon-laugh icon-back"></i>
                <span>返回</span>
            </div>
            <div class="title">购物车</div>
            <div class="top-right"></div>
        </div>
        <!-- 顶部导航栏结束 -->
        <div class="cartbox">
            <div class="ui-row-flex cart-head">
                <div class="ui-col">
                  <label class="ui-checkbox">
                          <input type="checkbox" checked>
                      </label>      
                </div>
                <div class="ui-col-4 title">
                  校呵呵自营
                </div>
                <div class="ui-col-2 text-center editbox">
                  <a class="hide" href="javascript: void(0)">编辑</a>
                  <a class="hide" href="javascript: void(0)">完成</a>
                  <span class="red">店铺已关闭</span>
                </div>
            </div>            
            <ul class="cart-body-box cant">
                <li class="cart-body ui-row-flex ui-flex-align-center">
                    <label class="ui-checkbox">
                        <input type="checkbox" disabled="true">
                    </label>
                    <div class="imgbox">
                        <img src="../images/p1.png" alt="" />
                    </div>                    
                    <div class="titlebox ui-col">
                        康师傅劲爽拉面红烧牛肉面袋装
                    </div>
                    <div class="pricebox text-right">
                        <p>&yen; 0.80</p>
                        <del>&yen; 1.00</del>
                        <p>X1</p>
                    </div>                                
                </li>
                <li class="cart-body ui-row-flex ui-flex-align-center">
                    <label class="ui-checkbox">
                        <input type="checkbox" disabled="true">
                    </label>
                    <div class="imgbox">
                        <img src="../images/p1.png" alt="" />
                    </div>                    
                    <div class="titlebox ui-col ">
                        康师傅劲爽拉面红烧牛肉面袋装
                    </div>
                    <div class="pricebox text-right">
                        <p>&yen; 0.80</p>
                        <del>&yen; 1.00</del>
                        <p>X1</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cartbox mt26">
            <div class="ui-row-flex cart-head">
                <div class="ui-col">
                  <label class="ui-checkbox">
                          <input type="checkbox" checked>
                      </label>      
                </div>
                <div class="ui-col-4 title">
                  校呵呵自营
                </div>
                <div class="ui-col-2 text-center editbox">
                  <a href="javascript: void(0)">编辑</a>
                  <a class="hide" href="javascript: void(0)">完成</a>
                </div>
            </div>
            <ul class="cart-body-box">
                <li class="cart-body ui-row-flex ui-flex-align-center">
                    <label class="ui-checkbox">
                        <input type="checkbox" checked>
                    </label>
                    <div class="imgbox">
                        <img src="../images/p1.png" alt="" />
                    </div>                    
                    <div class="titlebox ui-col ">
                        <div class="hide">
                            康师傅劲爽拉面红烧牛肉面袋装
                        </div>
                        <div class="numbox">
                            <button class="jian">-</button>
                            <span>999</span>
                            <button class="jia">+</button>
                        </div>
                    </div>
                    <div class="pricebox text-right">
                        <div class="hide">
                            <p>&yen; 0.80</p>
                            <del>&yen; 1.00</del>
                            <p>X1</p>
                        </div>
                        <button class="mybtn btn-red delbtn">删除</button>
                    </div>                                       
                </li>
                <li class="cart-body ui-row-flex ui-flex-align-center">
                    <label class="ui-checkbox">
                        <input type="checkbox" checked>
                    </label>
                    <div class="imgbox">
                        <img src="../images/p1.png" alt="" />
                    </div>                    
                    <div class="titlebox ui-col">
                        康师傅劲爽拉面红烧牛肉面袋装
                    </div>
                    <div class="pricebox text-right">
                        <p>&yen; 0.80</p>
                        <del>&yen; 1.00</del>
                        <p>X1</p>
                    </div>                                       
                </li>
            </ul>
        </div>
        <div class="surebar ui-row-flex ui-flex-align-center">
            <div class="price">
                &yen; 6.00
            </div>
            <div class="total ui-col">
                <p>含运费2.00元</p>
                <p>总计2件</p>
            </div>
            <button class="mybtn">
                提交订单
            </button>
        </div>
    