
<div class="orderbox bg-white">
  <div class=" orderh ui-border-b">
    收货信息
  </div>
  <div class="orderinfo pointer js-change-default-address">
    <div class="ordercontent">
      <h4 class="clearfix">
        <span class="fl"><{addr.name}></span>
        <span class="fr"><{addr.mobile}></span>
      </h4>
      <p class="small">
        <{addr.result}>
      </p>
    </div>
    <i class="icon-laugh icon-forward ordericonr"></i>
  </div>
</div>
<div class="orderbox bg-white mt26">
  <div class=" orderh ui-border-b">
    支付方式
  </div>
  <div class="orderinfo pointer js-pay-way">
    <div class="ordercontent">
      <p>
        <!--<{foreach: data.payments[0].payments as pay}>-->
          <!--<{pay.name}>-->
        <!--<{/foreach}>-->
        在线支付+货到付款（点击修改）
      </p>
    </div>
    <i class="icon-laugh icon-forward ordericonr"></i>
  </div>
</div>
<{foreach: data.shops as index=>item}>
  <div class="orderbox bg-white mt26">
    <div class=" orderh ui-border-b">
      <i class="icon-laugh icon-shop"></i> <{item.name}>
    </div>
    <div class="ui-border-b orderinfo pointer js-goods-details" data-index="<{index}>">
      <div class="ordercontent clearfix">
        <div class="orderimg fl" style="width: 15rem">
          <{foreach: item.items as num=>value}>
            <{if: num<5}>
              <img src="<{value.images[0]}>"/>
            <{/if}>
          <{/foreach}>
        </div>
        <span class="fr ordermsg">
          <{if: item.items.length>5}>
            <i class="icon-laugh icon-more"></i>
          <{/if}>
          共<{item.count}>件
        </span>
      </div>
      <i class="icon-laugh icon-forward ordericonr"></i>
    </div>
    <div class="ui-border-b orderinfo pointer">
      <div class="ordercontent">
        <input class="js-remarks" type="text" placeholder="给卖家留言" style="border: 0;" data-id="<{item.objectId}>" data-index="<{index}>"> 
      </div>
    </div>
    <div class="ui-border-b orderinfo pointer js-send-time" data-objectid="<{item.objectId}>" data-index="<{index}>">
      <div class="ordercontent js-time-show">
        <span class="red">请选择配送时间</span>
      </div>
    </div>
    <!--<div class="ui-border-b orderinfo pointer clearfix">-->
      <!--<div class="fl small">-->
        <!--<p><i class="icon-laugh icon-song blue"></i> 买1送1</p>-->
        <!--<p><i class="icon-laugh icon-huilvjian blue"></i> 满10减2</p>-->
      <!--</div>-->
      <!--<div class="fr small text-right c-orange">-->
        <!--<p><em>【赠】哇哈哈营养快线 X1</em></p>-->
        <!--<p><em>- &yen; 2.00</em></p>-->
      <!--</div>-->
    <!--</div>-->
    <div class="orderinfo pointer clearfix">
      <div class="fr">
          运费：<em>&yen; <{item.fees}></em> 合计：<em class="big">&yen; <{item.result}></em>
      </div>
    </div>
  </div>
<{/foreach}>

<div class="ui-actionsheet">  
  <div class="ui-actionsheet-cnt js-select-send-time">
    
  </div>         
</div>

<div class="cart">
  <div class="surebar ui-row-flex ui-flex-align-center" style="bottom:0rem">
    <div class="price">
      &yen; <{data.summary.result}>
    </div>
    <div class="total ui-col">
      <p>含运费<{data.summary.fees}>元</p>
      <p>总计<{data.summary.count}>件</p>
    </div>
    <button class="mybtn js-btn-pay">
      提交订单
    </button>
  </div>
</div>
