
  
    <!-- 顶部导航栏 -->
    <div class="topbar clearfix">
      <div class="back">
        <i class="icon-laugh icon-back"></i>
        <span>返回</span>
      </div>
      <div class="title">选择收货地址</div>
      <div class="top-right">管理</div>
    </div>
    <!-- 顶部导航栏结束 -->
    <div class="successbox">
      <div class="msg">付款成功！</div>
      <div class="share">
        <i class="icon-laugh icon-share"></i> 分享给小伙伴们，您还能领取抽奖红包哦。
      </div>
      <div class="btnbox">
        <button class="mybtn btn-gray">继续购物</button>
        <button class="mybtn">分享给同学</button>
      </div>
    </div>
  
  
