
    <!-- 顶部导航栏 -->
    <div class="topbar clearfix">
      <div class="back">
        <i class="icon-laugh icon-back"></i>
        <span>返回</span>
      </div>
      <div class="title">支付方式</div>
      <div class="top-right"></div>
    </div>
    <!-- 顶部导航栏结束 -->
    <{if: data.payments.length > 0}>
     <{foreach: data.payments as index => val}> 
        <div class="paybox bg-white <{if: index > 0}>mt26<{/if}>" >
          <div class="payh">
            <{val.name}>
          </div>  
          <ul class="ui-list ui-border-tb payul" data-paymentid="<{val.objectId}>">
              <{foreach: val.payments as liIndex => item}>
              <li class="js-type-order <{if: liIndex > 0}>ui-border-t<{/if}> <{item.enabled ? '' : 'cant'}>" data-key="<{item.key}>">            
                  <div class="ui-list-info content">
                      <i class="icon-laugh icon-jiage"></i><{item.name}>
                  </div>
                  <label class="ui-checkbox">
                      <input name="pay_way<{index}>" type="radio" <{item.checked ? 'checked' : ''}> <{item.enabled ? '' : 'disabled'}>>
                  </label>
              </li>  
              <{/foreach}>
              <!-- <li class="ui-border-t">            
                  <div class="ui-list-info content">
                      <i class="icon-laugh icon-qianbaopengyou"></i>支付宝当面付 <span class="small">(首笔支付立减2元)</span>
                  </div>
                  <label class="ui-checkbox">
                      <input type="checkbox" checked>
                  </label>
              </li>
              <li class="ui-border-t">            
                  <div class="ui-list-info content">
                      <i class="icon-laugh icon-serviceanshidaohuo"></i>货到付款
                  </div>
                  <label class="ui-checkbox">
                      <input type="checkbox" checked>
                  </label>
              </li>  -->     
          </ul>           
        </div>
     <{/foreach}>
    <{/if}>
<!--     <div class="paybox bg-white mt26">
      <div class="payh">
        胡同学的水果铺
      </div>  
      <ul class="ui-list ui-border-tb payul">
          <li class="cant">            
              <div class="ui-list-info content">
                  <i class="icon-laugh icon-jiage"></i>在线支付
              </div>
              <label class="ui-checkbox">
                  <input type="checkbox" disabled>
              </label>
          </li>  
          <li class="ui-border-t">            
              <div class="ui-list-info content">
                  <i class="icon-laugh icon-qianbaopengyou"></i>支付宝当面付<span class="small">(首笔支付立减2元)</span>
              </div>
              <label class="ui-checkbox">
                  <input type="checkbox" checked>
              </label>
          </li>
          <li class="ui-border-t">            
              <div class="ui-list-info content">
                  <i class="icon-laugh icon-serviceanshidaohuo"></i>货到付款
              </div>
              <label class="ui-checkbox">
                  <input type="checkbox" checked>
              </label>
          </li>      
      </ul>           
    </div> -->
  