
    <!-- 顶部导航栏 -->
    <div class="topbar clearfix">
      <div class="back">
        <i class="icon-laugh icon-back"></i>
        <span>返回</span>
      </div>
      <div class="title">确认订单</div>
      <div class="top-right"></div>
    </div>
    <!-- 顶部导航栏结束 -->
    <div class="orderbox bg-white">
      <div class=" orderh">
        请选择您要是用的现金券
      </div>  
      <ul class="ui-list ui-border-tb orderul">
          <li>            
              <div class="ui-list-info content">
                  <h4 class="ui-nowrap">首单立减3元</h4>
                  <p class="ui-nowrap">仅限自营店使用，不与本店其他优惠叠加使用</p>
              </div>
              <label class="ui-checkbox">
                  <input type="checkbox" checked>
              </label>
          </li>
          <li class="ui-border-t">            
              <div class="ui-list-info  content">
                  <h4 class="ui-nowrap">收单立减3元</h4>
                  <p class="ui-nowrap">仅限自营店使用，不与本店其他优惠叠加使用</p>
              </div>
              <label class="ui-checkbox">
                  <input type="checkbox" >
              </label>
          </li>
          <li class="ui-border-t">            
              <div class="ui-list-info  content">
                  <h4 class="ui-nowrap">满20减10</h4>
                  <p class="ui-nowrap">仅限自营店使用，不与本店其他优惠叠加使用</p>
              </div>
              <label class="ui-checkbox">
                  <input type="checkbox" checked>
              </label>
          </li>
          <li class="ui-border-t cant">            
              <div class="ui-list-info  content">
                  <h4 class="ui-nowrap">收单立减3元</h4>
                  <p class="ui-nowrap">仅限自营店使用，不与本店其他优惠叠加使用</p>
              </div>
              <label class="ui-checkbox">
                  <input type="checkbox" disabled>
              </label>
          </li>
          <li class="ui-border-t">            
              <div class="ui-list-info  content">
                  <h4 class="ui-nowrap">收单立减3元</h4>
                  <p class="ui-nowrap">仅限自营店使用，不与本店其他优惠叠加使用</p>
              </div>
              <label class="ui-checkbox">
                  <input type="checkbox" checked>
              </label>
          </li>
      </ul>           
    </div>

  

