<!-- the header-->
<div class="bg-lightgray noheadbar nofootbar">
  <div class="msd-bar-back" style="background-image:url(images/shop_bg.png)">
    <div class="msd-shop-name">
      <span><{shop.name}></span>
      <img class="vertifiy-img" src="images/shop_auth.png" alt="">
    </div>
  </div>
  <!--空白栏-->
  <div class="app-gap-small"></div>
  <!-- 商家简介-->
  <div class="msd-div bg-white">
    <div class="ui-border-b">
      <i class="msd-title ">店铺介绍</i>
    </div>
    <div class="ui-border-b">
      <i class="msd-describe"><{shop.desc}></i>
    </div>
  </div>
  <!--空白栏-->
  <div class="app-gap-small"></div>
  <!-- 店铺保障-->
  <div class="msd-div bg-white">
    <div class="ui-border-b">
      <i class="msd-title ">店铺介绍</i>
    </div>
    <div class="ui-border-b ">
      <{foreach: shop.qualifications as v}>
        <div class="msd-describ-labicon">
          <i class="msd-describ-img" style="border-radius:3px;color:white;text-align:center;top:1.5rem;background:#<{v.label.color|toString16}>;"><{v.label.key}></i>
          <i class="msd-describ-lab ui-border-b ui-nowrap ui-whitespace"><{v.desc}></i>
        </div>
      <{/foreach}>
    </div>
  </div>
  <!-- btn-->
  <div class="text-center">
    <button class="msd-relative">
      <i class="icon-laugh icon-phonecall"></i>
      <{shop.profile.phone}>
    </button>
  </div>
  <span class="msd-relative-lab">店主QQ: <{shop.profile.qq}></span>
</div>