    <div class="location-page">
      <!-- 定位学校start -->
        <div class="side-wrap">
         <ul class="classify-list" id="box_classify">
          
         </ul>
        </div>
        <div class="goods-list-wrap">
          <ul class="goods-list" id="box_items">

          </ul>
          <div class="loadmore"></div>
        </div>
        <!-- 记得加上底部导航栏 -->
    </div>

    <!-- 加载提示框-->
    <div class="ui-loading-block" id="crazyLoad">
      <div class="ui-loading-cnt" style="padding-top: 1.5rem;">
        <i class="icon-laugh icon-wait animate-circle" style="font-size: 4rem"></i>
        <p>疯狂加载中...</p>
      </div>
    </div>
    <!-- 类别部分模板 -->
    <script type="text/template" id="tm_classify">
      <{foreach: data as index => val}> 
        <li class="classify-item active-bg">
          <a data-categoryID="<{val.objectId}>"><{val.name}></a>
        </li> 
      <{/foreach}>
    </script>
    <!-- 商品列表模板 -->    
    <script type="text/template" id="tm_items">      
      <{foreach: data as index => val}>
        <li class="goods-item active pointer active-bg">
          <div class="img-wrap js-goods-click" data-index="<{index}>">
            <a href="javascript:;"><img src="<{val.images[0]}>" alt=""></a>
          </div>
          <div class="goods-info js-goods-click" data-index="<{index}>">
            <a href="javascript:;"><h3 class="goods-title"><{val.name}></h3></a>
            <p class="price">&#165; <{val.price}></p>
            <{if: val.originalPrice}>
            <p class="o-price"><s>&#165; <{val.originalPrice}></s></p>
            <{/if}>
          </div>
          <{if: val.status === 1}>
          <button class="buy-btn btn js_buy" data-id="<{val.objectId}>" data-index="<{index}>">购买</button>
          <{elseif: val.status === 2}>
          <button class="rest-btn btn">休息中</button>
          <{/if}>
        </li>    
      <{/foreach}>
    </script>
    
  