@charset "utf-8";
//--------------------------------
// @authors: bimgle
// @desc: 大脉app模块,以'dmm-'为前缀命名
//--------------------------------

@import "moudle/frozen";

// 标题
@import "moudle/title";

// 富文本
@import "moudle/rich_text";

// 图片广告-轮播
@import "moudle/_swiper-3.2.7.min";

// 列表
@import "moudle/list_article";
@import "moudle/list_goods";

// 辅助空白
@import "moudle/space";

// 图片导航
@import "moudle/nav_icon";

// 文本导航
@import "moudle/nav_text";

// icon
// @import "//at.alicdn.com/t/font_1441791509_42994.css";

// 表单
@import "moudle/form";

// 社区
@import "moudle/community";

// 账单列表
@import "moudle/list_payment";

// 我的
@import "moudle/my";

// 设置模块背景色
.dmm-module {
  background-color: #FFF;
}

.nav-imgbox {
  position: relative;
  .nav-img {
    position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto; width: 80%;height: 80%;background-size: 100% 100%;
  }
}
