@charset "utf-8";
//--------------------------------
// @authors: bimgle
// @desc: DaMai UI,以"dm-"为前缀命名,基于bootstrap
// @time: 2015-08-06
//--------------------------------

// @import "function";

// 边框样式
 %bd-default {
   border-color: $gray;border-radius: 2px;
 }

// 导航
.dm-nav {
  ul, li, a {
    height: 100%;
  }
  &-inner {
    @include clearfix;
  }
  li {
    float: left;
  }
  a {
    display: block;color: $g-color;
  }
  a:hover,
  .current {
    position: relative;bottom: -1px;border-bottom: 1px solid $orange; color:$orange;line-height: 22px !important;
  }
}

// 页面标题
.dm-page-head {
 position: relative;margin-bottom: 20px;border-bottom: 1px solid lighten($gray, 5%);
 .title {
   display: inline-block;position: relative;bottom: -1px;border-bottom: 1px solid $orange; color:$orange;
 }
 .title, 
 .dm-nav a { // 导航式标题
  padding:15px 20px;@include hl(24px);font-size: 16px;
 }
 .dm-nav {
  height: 100%;
 }
 .left-item {
  height: 100%;
 }
 .left-item,
 .right-item {
  font-size: 0;
  .item {font-size: 12px;}
  .dm-dropdown {
    width:80px;
    .btn {line-height: 18px;}
  }
 }
 .left-item {
  .item {
    padding-right: 10px;
  }
  .btn-large {
    padding-left: 0;padding-right: 0;width:100px;
  }
 }
 .right-item {
  position: absolute;top: 0;right: 0;height: 100%;
  .item {
    padding-left: 5px;
  }
  .dm-dropdown {
    width:80px;
    .btn {line-height: 18px;}
  }
 }
}

// 面板标题
.dm-panel-head {
 padding:10px 18px;@include hl(18px);background-color: $lightgray;
 .title {
   float: left;@include hl(18px);padding: 0 10px;border-left: 5px solid $orange;font-size: 14px;color:#000;
 }
}

// 表格-无边框
.dm-table {
  border-width:0 0 1px;border-style: solid;
  thead {
   background: #686868;
   tr th {
     font-weight: normal;border-bottom-width: 1px;border-right: 0;border-left: 0;color: #fff;font-size: 14px;
   }
  }
  tbody {
   tr:hover {
     background: darken(#F5F5F5,2%) !important;
   }
  }
  &,
  thead tr th,
  tbody tr td {
   border-color: lighten($gray, 5%);text-align: center;vertical-align: middle; word-break: break-all;word-wrap: break-word;
  }
  // 四周有边框
  &.table-bordered {
   border-top-width: 1px;border-top-color: #686868;
   thead {
     border-right: 1px solid #686868;
   }
  }
  // 有斑马间隔行背景色
  &.table-striped {
   tbody {
     tr:nth-of-type(odd) {
       background: #fff;
     }
     tr:nth-of-type(even) {
       background: lighten($gray, 10%);
       td {border-top-width: 0;}
     }
   }
  }
  &-large {
    thead tr th,
    tbody tr td {
      padding: 12px;
    }
  }
  &-lightgray {
    thead {
      background:#F1F1F1;
      tr th {
        color: inherit;
      }
    }
  }
  .dm-col-align-left {
  text-align:left;
  }
  .dm-col-align-right {
  text-align: right;
  }
 }
// 按钮
.btn {
  @extend %bd-default;border-width: 1px;border-style: solid;background:#fff; padding: 3px 20px;color: $g-color;outline: 0;font-size: 12px;
  &:active,&:focus {
   outline: 0;box-shadow: none;
  }
  &-default {
   background: #F8F8F8;
   &:hover,
   &:active,
   &:focus {
     border-color: $gray !important;
     background: darken(#F8F8F8, 1%);color:$g-color;
   }
  }
  &-orange {
   $bgc: $orange;
   background: $bgc;border-color: $bgc;color:#fff;
   &:hover,
   &:active,
   &:focus {
     background: darken($bgc, 1%); color: #fff;
   }
  }
  &-green {
   $bgc: $green;
   background: $bgc;border-color: $bgc;color:#fff;
   &:hover,
   &:active,
   &:focus {
     background: darken($bgc, 1%); color: #fff;
   }
  }
  &-blue {
   $bgc: #00A5D3;
   background: $bgc;border-color: $bgc;color:#fff;
   &:hover,
   &:active,
   &:focus {
     background: darken($bgc, 1%); color: #fff;
   }
  }
  &-link {
   &, &:hover { color: $blue;}
  }
  &-large {
    padding:8px 0;width:100px;font-size: 14px;
  }
  &-small {
    padding:0;width: 80px;@include hl(30px);
  }
}
.dm-tfoot {
  .page-cnt {
    text-align: right;
  }
  .btns {
    margin-top: 28px;font-size: 0;
    .btn {
      margin-right: 4px;padding:0;width: 78px;@include hl(30px);
    }
  }
}

// 下拉菜单
.dm-dropdown {
   // width: 80px;
   &,a {
     color: #262626;
   }
   .btn {
     border-radius: 0;padding-left: 10px;padding-right: 10px;
   }
   .dropdown-menu {
     margin-top: 0;border-color: $gray;border-radius: 0; min-width: 100%;max-height: 200px;overflow-y: auto;overflow-x: hidden;padding-right: 15px;
     li {margin-right: -15px;}
     a {
       color: $g-color;padding-left: 10px;padding-right: 10px;
       &:hover,
       &.selected {
         background: $orange;color: #fff;
       }
     }
   }
   .dm-search {
     margin-left: 4px;margin-right: 4px;margin-bottom: 5px;
     input[type="text"] {
       padding-top: 2px;padding-bottom: 2px;padding-left: 20px;box-shadow:inset 0 1px 3px $gray;
     }
     .glyphicon-search {
       top: 7px;left: 6px;font-size: 12px;
     }
   }
   &-fix { // 固定宽度
    width: 80px;
    .btn {
      padding:0;width: 100%;@include hl(26px);
    }
    .dropdown-menu {
      li a {
        height: 20px;overflow: hidden;white-space:break;
      }
    }
   }
 }

// 分页
.dm-page {
  margin: 10px 0;text-align: center;
  a {
   display: inline-block;margin: 0 3px;padding: 3px 8px;border: 1px solid $gray;border-radius: 2px; color: $g-color;font-size: 12px;
   &:first-child,
   &:last-child {
     padding-left: 12px;padding-right: 12px;background:#F7F7F7;
   }
   &:hover {
     background:#F7F7F7 - 5; color: currentColor;
   }
  }
  .pagecurrent {
   &,
   &:hover {
     background:$orange;
   }
   border-color:$orange; color: #fff;
  }
  // .ellipsis {
  //   cursor: default;
  //   &:hover {
  //     color: currentColor;background:none;
  //   }
  // }
  &-large {
    a {
       padding: 5px 12px;font-size: 14px;
    }
  }
  &-right {
    text-align: right;
  }
 }

 // 表单
 .dm-input {
   input[type="text"],
   input[type="password"],
   input[type="color"],
   input[type="file"] {
     padding: 5px 6px;height: 20px;min-width: 40px;max-width: 100%; @extend %bd-default;
     &:focus {
       border-color: #66afe9;
     }
   }
 }
 .ipt-width-long {
   width: 260px;
 }
 .ipt-width-mid {
   width: 210px;
 }
 .ipt-width-short {
   width: 160px;
 }
 .ipt-width-shorter {
   width: 60px;
 }

 .dm-select {
  padding: 3px 5px;border-color: $gray;
 }

 .dm-textarea {
   textarea {
     padding:12px;width: 230px;@extend %bd-default;line-height: 22px;
   }
 }

 .dm-search {
   position: relative;
   input[type="text"] {padding-left: 26px;}
   .glyphicon-search {
     position: absolute;top: 9px;left: 8px;color: #888; font-size: 14px;
   }
 }

// 复选框
// .dm-checkbox {
//   margin-bottom: 0;width: 16px;height: 16px;border: 1px solid lighten($gray, 5);background: #fff;border-radius: 2px;cursor: pointer;vertical-align: middle;
//   input {width: 0;height: 0;overflow: hidden;}
//   &.checked {
//     border-color: $lightgreen;background: url(../images/icon-check.png) 50% 50% no-repeat $lightgreen;
//   }
// }

.dm-checkbox,
.dm-radio,.dmm-radio {
  position: relative;cursor: pointer;-webkit-appearance: none;width: 16px;height: 16px;margin-top: 0 !important;
  &:before,
  &:after {
    content: "";position: absolute;left: 0;top: 0;width:100%;height: 100%;font-size: 12px;
  }
}
.dm-checkbox {
  &:before,
  &:after {
    border-radius: 2px;
  }
  &:before {
    border: 1px solid lighten($gray, 5);background: #fff;
  }
  &:checked:after,
  &.checked:after {
    content:"\2714";border-color: $lightgreen;background-color: $lightgreen; text-align: center;color:#fff; //background: url(../images/icon-check.png) 50% 50% no-repeat $lightgreen;
  }
}
.dm-radio {
  &:before {
    border-radius: 16px;border: 1px solid $gray;
  }
  &:checked:after,
  &.checked:after {
    top: 0;right: 0;bottom: 0;left: 0;margin:auto; width: 60%;height: 60%;border-radius: 60%;background:$lightgreen;
  }
}

// 搜索
.dm-search {
  &-item {
    font-size: 0 !important;
    input[type="text"] {
      display: inline-block;padding-top: 2px;padding-bottom: 2px;width: auto;
    }
    .dm-input {margin-right: 4px;}
  }
}

.dm-thumbpic {
  display: inline-block;
}

.dm-pic-and-txt {
  position: relative;
  .dm-thumbpic {
    position: relative;float: left;border: 1px solid #E5E5E5;
    img {width: 52px;height: 52px;}
    .dm-checkbox {
      position: absolute;left: -1px;bottom: -1px;
    }
  }
  .txt {
    position: relative;margin-left: 70px;padding-bottom: 24px; min-height: 30px;
    &-top {padding-top: 5px;}
    &-foot {
      position: absolute;;left: 0;bottom:5px;
    }
  }
}

// 提示框
.dm-tips {
  padding:0 15px;background:#FFF6BA;border: 1px solid #FFD178;
}

// 弹窗
.dm-modal {
  top:30%; font-size: 14px;
  .modal-mi {
    width: 500px;
  }
  .modal-content {
    border-color:$orange;border-width: 4px 0 0 0; border-radius: 0;box-shadow:none;
  }
  .modal-header {
    padding: 13px 0 0;height: 40px; background:#F1F1F1;border-bottom: 0;
    .close {
      @include ff-song;margin-top: 5px; margin-right: 14px;color:$orange;opacity: 0.8;
      &:hover {opacity:1;}
    }
  }
  .modal-body {
    padding: 15px 30px;
  }
  .modal-footer {
    @include clearfix; margin-top: 15px;padding:15px 30px;text-align: left;
  }
  .form-horizontal {
    margin:auto;
  }
  .nav-tabs {
    padding:0 22px;border-bottom: 0;
    a,h4 {color:inherit;padding-top:10px;padding-bottom: 10px; border: 0 !important;border-radius: 0;font-size: 14px;}
    a:hover {background:$gray;}
    .active {
      a {color:$orange !important;}
    }
    h4 {
      padding-left: 20px;padding-right: 20px;background:#fff;color:$orange;font-weight: normal;
    }
  }
  // 通用弹窗
  &-common {
    .modal-body {
      padding-top: 30px;
    }
    .msg {
      text-align: center;
    }
    .modal-footer {
      margin-top: 0;padding-bottom: 30px;border-top: 0;text-align: center;
      .btn {
        margin:0 10px;
      }
    }
  }
}
