@charset "utf-8";
//-------------------------------- 
// @authors: bimgle
// @desc: dmui 配置
// @time: 2015-08-06
//--------------------------------

// 开关设置
$lte7: false; //不支持IE6 7

// color
$black: #222;
$red: #EF2121;
$gray: #ddd;
$lightgray: lighten($gray, 9%);
$orange: #E27000;
$blue: #0077DD;
$green: #4BC321;
$lightgreen: #6ED13D;

$g-color: #7a7a7a; // 文字颜色

$item-bdcolor: #E5E5E5; // 边框颜色

$sidegap: 30;