@charset "utf-8";
// 账单列表

.dmm-list-payment {
  .item {
    @include hl(dp(120));
    &:last-child {
      border-bottom: 0;
    }
  }
  .nav-imgbox {
    margin-top: size(24); border-radius: size(72);
  }
  .text-box {
    height: 100%; 
    .txt-right {
      float: right;
    }
  }
}