@charset "utf-8";

.dmm-list {
  .list-item {
    display: block;background: #fff;
  }
  .minipic,
  .picbox {
    position: relative;overflow: hidden;
    img {
      display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;width: 100%; height: auto;
    }
  }
  .info-title {
    color: #000;
  }
  .price {
    color: #DD0321;font-size: size(28);
  }
  .title-onpic {
    position: relative;
    .info {
      position: absolute;overflow: hidden;
    }
    .info-title {
      padding: size(4) size(10);background:rgba(#000, .5); color:#fff;
    }
  }
  &-easy {  // 极简样式
    .list {
      padding:0 size(10);
    }
    .list-item {
      padding: size(16) 0;border-bottom: 1px solid $lightgray;overflow: hidden;
      a {
        display: block;@include clearfix;
      }
    }
    .minipic,
    .picbox {
      float: left; width: size(240);height: size(180);
      &-right {
        float: right;
      }
    }
    .info {
      position: relative;margin-left: size(260);min-height: size(180);
      &-left {
        margin-left: 0;margin-right: size(260);
      }
      &-title {
        max-height: size(104);overflow: hidden;font-size: size(32);line-height: 1.3;
      }
      &-desc {
        @include hl(size(44));color:$g-color;@include ellipsis;
      }
      &-footer {
        position: absolute;left: 0;bottom: 0;width: 100%;
      }
      .foot-left {
        float: left;
      }
      .foot-right {
        float: right;color:lighten($g-color, 2%);
      }      
    }
  }
  &-bigpic {  // 大图样式
    .list-item {
      margin-bottom: size(20);padding: size(24) size(30);
      &:last-child {
        margin-bottom: 0;
      }
    }
    .bigpic,
    .picbox {
      position: relative;width: 100%;height: size(300);overflow: hidden;
      img {
        position: absolute;top:0;left:0;width: 100%;height:auto;min-height: 100%;
      }
    }
    .info {
      margin-top: size(8);font-size: size(28);line-height: 1.2;
    }
    .title-onpic {
      padding: size(10) size(16);
      .info {
        left:size(16);right:size(16);bottom:size(10);margin-top: 0; max-height: size(90);
      }
    }
  }
}

.dmm-list-article {
  .list-item .text {
    width: 92%;@extend %ellipsis;vertical-align: middle;
  }
}