@charset "utf-8";

.dmm-gap {
  &-1px {
    height: 1px;
  }
  &-small {
    height: size(20);
  }
  &-medium {
    height: size(40);
  }
  &-big {
    height: size(60);
  }
}
.app-design .dmm-gap-1px {
  height: 10px;
}